<div class="container_diagramm mt-5">
  <div class="card_diagramm">
    <div class="box_diagramm">
      <div class="percent_circle_diagramm"
          data-current-question-index="<%= @test_passage.current_question_index %>"
          data-questions-count="<%= @test_passage.questions_count %>">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70" class="percent_circle"></circle>
        </svg>
        <div class="number_circle_diagramm">
          <h2><span class="percent_text"></span><span class="percent-only">%</span></h2>
        </div>
      </div>
      <h2 class="text_diagramm">JavaScript</h2>
    </div>
  </div>
</div>
