<% if @test_passage.test.questions.any? %>
  <% percent = @test_passage.progress_percent %>
  <% percent_css = @test_passage.calc_percenet_css(percent) %>
<% else %>
  <% percent_css = 0 %>
<% end %>
<div class="container_diagramm mr-4">
  <div class="card_diagramm">
    <div class="box_diagramm">
      <div class="percent_diagramm">
        <svg> 
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70" style='stroke-dashoffset: <%= percent_css %>;'></circle>
        </svg>
        <div class="number_diagramm">
          <h2><%= percent %><span class="percent-only">%</span></h2>
        </div>
      </div>
      <h2 class="text_diagramm">Html</h2>
    </div>
  </div>
</div>
