<%= render 'shared/sidebar' %>

<div class="menu-icon" id="menu-icon-tl" >
  <span></span>
  <span></span>
  <span></span>
</div>


<% if @test_passage.success? %>

	<%= render 'shared/sertificate' %>

<% else %>

	<%= render 'shared/bad-sertificate' %>

<% end %>
