
<div class="container">
  <header>
    <div class="textLogo" text-align: right;>
      TEST GURU
      <!--<%= link_to TestGuru::NAME, github_url(TestGuru::GITHUB_AUTHOR, TestGuru::GITHUB_REPO), target: :blank %>-->
    </div>
  </header>
  <div class="centerSide">
  </div>
</div>
