<%= render 'shared/sidebar' %>

<div class="menu-icon" id="menu-icon-tl" >
  <span></span>
  <span></span>
  <span></span>
</div>


<div class="wrapper-card">
  <div class="card border-secondary mb-3 mt-5" id="tests-card">
    <div class="tests-card-header text-center text-uppercase font-weight-bold mt-3">
      <%= t('.header_lite') %>
    </div>
      <div class="card-body text-secondary">
        <div class="card-text">
          <%= render 'form', question: @question, test: @test %>
        </div>
      </div>
  </div>
</div>
