// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.flash.alert {
  background-color: indianred;
  color: white;
//border-color: #ef2727;
}

.flash.info,
.flash.notice {
  background-color: #3c85e0;
  color: white;
//border-color: #3c85e0;
}
