<%= render 'shared/notice' %>

<table>
  <tr>
    <th>Название</th>
    <th>Уровень</th>
    <th>Категория</th>
    <th>Автор</th>
    <th>Количество вопросов</th>
    <th>Действия</th>
  </tr>

  <%= render @tests %>
</table>
<br><br>
